body{
    font-size: 16px;
    line-height:28px;
    font-family:arial, sans-serif;
    background-color:#eaeaea;
    background-image:url("gambar/geometric-leaves.png")
}

.container{
    width:800;
    margin:auto;
    background-color:white;
}

.header{
    padding:20px;
    padding-bottom:5px;
}

.heaader .judul{
    font-size:40px;
    font-weight:bold;
}

.header ul li {
    display:inline-block;
    margin-top:-20px;
    margin-right:10px;
}

.header a{
    text-decoration:none;
    color:salmon;
    padding:5px;
}

.header a:hover{
    background-color:lightskyblue;
    color:white;
}

.hero{
    height:280px;
    background-image:url("gambar/gambar1.jpg");
    background-size:cover;
    background-position:0 -150px;
    border-top:5px solid salmon;
    border-bottom:5px solid lightskyblue;
    margin-top:-22px;
}

.content{
    padding:20px;
}

.content h2{
    font-size:26px;
    font-weight:bold;
}

.content .penulis{
    font-size:12px;
    margin-top:-25px;
}

.content .penulis a{
    color:salmon;
    text-decoration:none;
}

.content p{
    margin-bottom:5px;
    font-size:15px;
}

.footer{
    background-color:#333;
    padding:10px;
}

.footer .copy{
    color:#eaeaea;
    text-align:center;
    font-size:13px;
}